<div class='users-forms'>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <div class="form-header">
    <%= image_tag "logo-test.jpg", :class => "logo-header" %>
  </div>

  <div class="login-form">
    <div class="users-form-header">
      <button class="btn btn-primary">Log in to Floralist</button>
    </div>
    <%= form_for :login do |f| %>
      <%= f.text_field :email, hide_label: true, placeholder: "Email" %>
      <%= f.password_field :password, hide_label: true, placeholder: "Password" %>

      <%= f.submit 'Log In', :id => "form-submit" %>
    <% end %>
    <br>

    <p>Not a member yet?</p><%= link_to "Sign Up", signup_path %>
  </div>
  <%= link_to "Cancel", root_path %>
</div>