<div class="container-fluid">
  <div class="logout">
<!--     <button class="logout-btn"><%= link_to "Edit Profile", "/home/#/edit" %></button> -->
    <button class="logout-btn"><%= link_to "Log out", logout_path, method: :delete %></button>
  </div>
  
  <div class="form-header">
    <%= image_tag "logo-test.jpg", :class => "logo-header" %>
  </div>

  <div class="nav">
    <!-- onclick reload must be changed to render template automatically -->
    <a><%= link_to "Calendar", "/home/#/calendar", :onClick => "window.location.reload()" %></a>
    <a><%= link_to "Task Manager", "/home/#/todos" %></a>
    <a><%= link_to "Address Book", "/home/#/addressbook" %></a>
  </div>
</div>