<div class="container-fluid">

  <div class="form-header">
    <%= image_tag "logo-test.jpg", :class => "logo-header" %>
  </div>

  <div class="nav">
    <a><%= link_to "Calendar", "/home/#/calendar" %></a>
    <a><%= link_to "To Dos", "/home/#/todos" %></a>
    <a><%= link_to "Address Book", "/home/#/addressbook" %></a>
  </div>
</div>

<div class="development">
  <a class="logout"><%= link_to "Log out", logout_path, method: :delete  %></a>
</div>