<button><%= link_to "Calendar", "/home/#/calendar" %></button>
<button><%= link_to "To Dos", "/home/#/todo" %></button>
<button><%= link_to "Address Book", "/home/#/addressbook" %></button>
<button><%= link_to "Log out", logout_path, method: :delete  %></button>
<button><%= link_to "Add a new event", new_event_path%></button>
<button><%= link_to "Add a new client", new_client_path %></button>

<br><br><br>