<button><%= link_to "Calendar", "/home/#/calendar" %></button>
<button><%= link_to "To Dos", "/home/#/todo" %></button>
<button><%= link_to "Address Book", "/home/#/addressbook" %></button>
<button><%= link_to "About", "/home/#/about" %></button>
<button><%= link_to "Contact", "/home/#/contact" %></button>