<!-- landing page calendar view -->

<!-- add if logged in conditional -->

<!-- else render standard index below -->
<div ng-controller="cookieController as cookie">
  <% if logged_in? %>
    <div ng-view ng-init="cookie.init(<%= current_user.id %>)">
    </div>      
  <% end %>
</div>

<div class="container-fluid">
  <div class="row" id="logo">
    <%= image_tag "logo-test.jpg", :class => "logo-header" %>
  </div>

  <div class="row nav">
    <a href="#about">ABOUT</a>
    <a href="#">SOCIAL</a>
    <!-- turn these two links below into modals -->
    <a href="/signup">SIGN UP</a>
    <a href="/login">LOG IN</a>
  </div>

  <div class="row">
    <%= image_tag "euc.jpg", :class => "img-responsive" %>
  </div>

  <div class="row" id="about">
    <h4>About Floralist</h4><hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="row" id="features">
    <div class="col-md-4">
      <%= image_tag "cal.jpg", :class => "feature" %>
      <h4>Calendar</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "todos.jpg", :class => "feature" %>
      <h4>Task Manager</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "addressbook-mini.jpg", :class => "feature" %>
      <h4>Address Book</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
    </div>
  </div>
</div>