<!DOCTYPE html>
<html ng-app='app'>
<head>
  <title>Project4</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- sourcing files for fullcalendar -->
  <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.min.css' />
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/fullcalendar.css.scss"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.min.js'></script>
</head>

<body>
{{ 1 + 2 }}
<!-- <%= render 'shared/nav' %> -->

<%= yield %>


</body>
</html>
